
/*******************
 Grid
********************/
*,
*:before,
*:after{
	-webkit-box-sizing: border-box;
	-moz-box-sizing:border-box;
	box-sizing: border-box;
}
.container{
	margin:0 auto;
	padding: 20px 30px;
	
} 

@media all and (min-width:530px){
	.container{
		width: 78%;		
	}
}

/*******************
Form elements
********************/
body{
	background-color: #a0a0ff;
	font: 300 16px/22px "Times New Roman",arial; 
	color:	#30304c;
}

form{
	background-color: #d0a0ff;
	padding: 20px;
	margin: 10px;
	border-radius:5px;
}

label{
	display: block;
	margin-top: 10px;
	margin-bottom: 10px;

}
.user-info label, .user-choices p{
	font-weight: bold;
}
#name,#email,#reason{
	max-width: 100%;
	margin-bottom: 10px;
	width:80%;
	padding: 8px;
	color: #272828;
	border-radius: 5px;
	border: 1px;
	height: 30px;
	background:#ececff;
	font-family: "Times New Roman", arial;
	font-size: 16px;
	
}
#number{
	max-width: 100%;
	margin-bottom: 10px;
	padding: 8px;
	width:50%;
	color: #272828;
	border-radius: 5px;
	border: 1px;
	height: 30px;
	background:#ececff;
	font-family: "Times New Roman", arial;
	font-size: 16px;
	
}

.user-choices p, .user-choices select, 
 .user-action p, .user-action button{
	margin-top: 10px;
	margin-bottom: 10px;
}
.user-choices input{
	font-family: "Times New Roman", arial;
	font-size: 16px;
	
}
.user-choices select{
	width: 20%;
	height:30px;
    line-height:30px;
    background:#ececff;
	color: #272828;
	border-radius:5px;
	font-family: "Times New Roman", arial;
	font-size: 16px;
	
}

.flex-role-container{
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.user-action{
	text-align: center;
}


 .user-info ol{
	 list-style-type: decimal;
 }
 ol{
	 list-style-type: decimal;
	 
 }
 li{
	 margin-left: 20px;
	 margin-right: 30px;
 }
 textarea{
	 padding: 8px;
	 color: #272828;
	 border-radius: 5px;
	 border: 1px;
	 background:#ececff;
	 font-family: "Times New Roman", arial;
	 font-size: 16px;

 }
 /*******************
Typography
********************/

h1{
	font-size: 36px;
	line-height: 44px;
	font-family: 'Roboto','Times New Roman',arial;
	letter-spacing: -0.5px;
	
}
h2{
	font-size: 24px;
	line-height: 44px;
	letter-spacing: -0.5px;	
	font-family: 'Roboto','Times New Roman',arial;	
}

.end-line{
	font-size: 17px;
	font-variant: small-caps;
	font-weight: 600;
}


/*******************
  Header
********************/
.primary-header{
	background-color: #a0d0ff;
	text-align: center;
}

/*******************
Images
********************/

#logo{
	max-width:20%;
}

/*****************
 Button
 ****************/
 
 .button{
	cursor: pointer;
	background: linear-gradient(#ffecd9,#e5d4c3);
	border-radius: 5px;
	border: 0;
	box-shadow: 0px 0px 2px 2px rgb(255,255,0);
	padding:15px;
    min-height:30px; 
    min-width: 120px;	
	font-family: arial;
	font-weight:600;
	color:	#30304c;
 }
 
 