/*
  ========================================
  Grid
  ========================================
*/
*{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.container{
	margin: 0 auto;
	width: 1000px;
}
