/*
  ========================================
  Grid
  ========================================
*/
*{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.container{
	margin: 0 auto;
	padding-left: 30px;
	padding-right: 30px;
	width: 1000px;
}

/*
  ========================================
  Typography
  ========================================
*/
h1, h2, h3, p
{
	margin-bottom: 22px;
}

/*
  ========================================
  Clearfix
  ========================================
*/
.group:before,
.group:after{
	content:"";
	display: table;
}
.group:after{
	clear: both;	
}
.group{
	clear: both;
	*zoom: 1;
}	

/*
  ========================================
  Images
  ========================================
*/	

.thumbnail{
	float: left;
    margin-right: 1.5%;	
	padding: 10px 10px;
	border: 1px solid #56562B;
	width: 242px;
}

}

