
/***************
 Grid
 ****************/
 *,
 *:before,
 *:after{
	-webkit-box-sizing: border-box,
	-moz-box-sizing: border-box,
	box-sizing: border-box;	
 }
 
 .container{
	margin: 0 auto;
	padding: 10px 30px;
}

@media all and (min-width:800px){
	.container{
	width:95%;
	margin: 0 auto;
	padding: 10px 30px;
	}
}
 /***************
 Typography
 ****************/
 body{
	background: #8aa7bd;
	color: #45535e;
	font: 300 16px/22px 'Times New Roman',arial;
}

h3,p{margin-bottom: 20px;}

h1{
	font-size: 36px;
	line-height: 50px;
	color: #4f453d;
	font-family: 'Noto Sans','Roboto',arial,sans-serif;	
}

h2{
	font-size: 24px;
	text-shadow:1px 1px 6px rgba(0,0,0,0.3);
	margin-top: 20px;
	margin-bottom: 10px;
}

h3{
	font-size: 16px;
	letter-spacing: -0.3px;
	
}
header h2{
	font-size:16px;
	color:#4f453d;
	text-shadow:none;
	font-family: 'Noto Sans','Roboto',arial,sans-serif;
	font-weight: 500;		
}
#img-caption{font-size: 14px;}

@media all and (min-width:800px){
	h1{float: left;}
	header h2{text-align: right;}
	h2,h3{text-align:center;}
	.group:before,
	.group:after{
		content: "";
		display: table;
	}
	.group{
		clear: both;
	}
	.group:after{
		clear: both;
	}
	.varma-img{
	 float: left;
	 border: 2px solid #7d7c78;
	 border-radius: 5px;
	 width: 19%;
	 overflow: hidden;
	 text-align: center;
	 margin-right: 15px;
	 vertical-align: top;	 
   }
   .gallery{
	   display: flex;
	   justify-content: space-between;
   }
   .img-container{
	   width: 23%;
	   
   }
}

/***************
  Header
 ****************/
 
 .primary-header{
	 background-image: url("../images/greentexture.png"),url("https://upload.wikimedia.org/wikipedia/commons/1/17/1500x1500-abstract-dfg4007.jpg");
	 background-repeat: round;	
	 opacity:0.8;	 
 }
 
 /***************
  Footer
 ****************/
 .primary-footer{
	 
	 background: #bd8aa7;
	 color:#4f453d;
	 font-family: 'Noto Sans',sans-serif;	
	 font-size: 14px;
 }
 
 /***************
  Images
 ****************/
 #image{
	 max-width: 100%;
	 height: auto;
	 display:block;
	 border: 1px solid #fff;	 
 }