/*
	========================
	Custom styles
	========================
*/
body{
	background: #293f50;
	color: #888;
	font:  300 16px/22px "Lato","Open Sans", "Helvetica Neue",Helvetica, Arial, sans-serif;
}


strong{
	font-weight: 400;
}
cite,em{
	font-style: italic;
}
.teaser h3{
	font-size: 14px;
	color: #a9b2b9;
	font-weight: 400;
	text-transform: uppercase;
}
.teaser a:hover h4 {
  color: #a9b2b9;
}
/*
	========================
	Links
	========================
*/
a{
	color: #648880;
	text-decoration: none;
}
a:hover{
	color: #a9b2b9;
}
p a{
	border-bottom: 1px solid #dfe2e5;
}
.primary-header a, .primary-footer a{
	color: #fff;
}
.primary-header a:hover, .primary-footer a:hover{
	color: #648880;
}
/*
	========================
	Grid
	========================
*/
*,
*:before,
*:after{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.container,.grid{
	margin: 0px auto;
	width: 960px;
}
.container{
	padding-left: 30px;
	padding-right: 30px;
}
.col1-3{
	width: 33.33%;	
}
.col2-3{
	width: 66.66%;
}
.col1-3,.col2-3{
	display: inline-block;
	vertical-align: top;
	
}
.grid,.col1-3,.col2-3{
	padding-left: 15px;
	padding-right: 15px;
}
/*
  ========================================
  Rows
  ========================================
*/
.row,.row-alt{
	
	min-width: 960px;

}
.row{
	background: #fff;
	padding: 66px 0 44px 0;
}
.row-alt{
   background: #cbe2c1;
   background: -webkit-linear-gradient(to right, #a1d3b0, #f6f1d3);
   background: -moz-linear-gradient(to right, #a1d3b0, #f6f1d3);
   background: linear-gradient(to right, #a1d3b0, #f6f1d3);
   padding: 44px 0 22px 0;
}
/*
  ========================================
  Clearfix
  ========================================
*/
.group:before,
.group:after {
  content: "";
  display: table;  
}

.group:after {
  clear: both;
}
.group {
  clear: both;
  *zoom: 1;
}

/*
	=========================
	Typography
	=========================
*/
h1,header>h2,h3,h4,p{
	margin-bottom: 22px;
}
h1,h2,h3,h4{
	color:  #648880;
}
h1{
	font-size: 36px;
	line-height: 44px;
}
h2{
	font-size: 24px;
	line-height: 44px;
}
h3{
	font-size: 21px;
}
h4{
	font-size: 18px;
}
/*
  ========================================
  Leads
  ========================================
*/
.lead{
	text-align: center;
}
.lead p{
	font-size: 21px;
	line-height: 33px;
}
/*
  ========================================
  Buttons
  ========================================
*/
.btn{
	border-radius: 5px;
	display:inline-block;
	color: #fff;
	cursor:pointer;
	font-weight: 400;
	text-transform: uppercase;
	letter-spacing:0.5px;
	
}
.btn-alt {
  border: 1px solid #fff;
  padding: 10px 30px;
}
.btn-alt:hover{
	background: #fff;
	color: #648880;
}

/*
  ========================================
  Home
  ========================================
*/
.hero{
	line-height: 44px;
	padding: 22px 80px 66px 80px;
	text-align: center;
	color: #fff;
}
.hero h2{font-size: 36px;}
.hero p{
	font-size: 24px;
	font-weight: 100;
}
.tagline{
	margin: 66px 0 22px 0;
	text-align: right;
}
.primary-nav{
	font-size: 14px;
	font-weight: 400;
	letter-spacing: .5px;
	text-transform: uppercase;
}
.nav{
	text-align: right;
}
/*
  ========================================
  Logo
  ========================================
*/
.logo{
	float: left;
	border-top: 4px solid #648880;
	padding: 40px 0 22px 0;
	font-size: 48px;
	line-height: 44px;
	font-weight: 100;
	letter-spacing: 0.5px;
	text-transform: uppercase;
}

/*
  ========================================
  Primary footer
  ========================================
*/
.primary-footer{
	padding-bottom: 44px;
	padding-top: 44px;
	color: #648880;
	font-size: 14px;
	letter-spacing:0.5px;
	
}
.primary-footer small{
	float: left;
	font-weight: 400;
}